*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

:root {
  --color-primary: #3f3f3f;
  --color-secondary: #fff;
  --color-tertiary: #f9f9f9;
  --color-title: #1083ae; }

html {
  font-size: 43.75%; }
  @supports (scroll-behavior: smooth) {
    html {
      scroll-behavior: smooth; } }

body {
  box-sizing: border-box; }

body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary); }

.title {
  font-family: 'Merienda', cursive;
  color: var(--color-title); }
  .title--1 {
    font-size: 8vw; }
    @media only screen and (min-width: 37.5em), only print {
      .title--1 {
        font-size: 7.5rem; } }
  .title--1-bis {
    font-size: 5vw;
    text-align: center; }
    @media only screen and (min-width: 37.5em), only print {
      .title--1-bis {
        font-size: 4rem; } }
  .title--2 {
    position: relative;
    font-size: 6vw; }
    @media only screen and (min-width: 37.5em), only print {
      .title--2 {
        font-size: 6rem; } }
    .title--2::after {
      content: "";
      display: block;
      background-color: var(--color-title);
      height: 4px;
      width: 6rem;
      margin: 1rem auto 3rem auto; }
  .title--3 {
    font-size: 2.7rem; }

.sub-title {
  color: var(--color-title);
  font-size: 4.5vw; }
  @media only screen and (min-width: 37.5em), only print {
    .sub-title {
      font-size: 3.5rem; } }

.text {
  line-height: 3.2rem; }

.blockquote {
  color: #f66;
  text-align: center;
  font-size: 1.6rem; }

.header-name {
  transform: translateY(-11rem);
  transition: transform .8s; }
  .header-name.show {
    transform: translateY(0); }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__content {
    width: 6rem;
    height: 6rem; }

.contact {
  list-style: none;
  margin: 2rem 0; }
  .contact__elt {
    display: inline-block;
    margin: 1rem 1.5rem; }
  .contact__link {
    text-decoration: none;
    display: inline-block; }
    .contact__link:link, .contact__link:visited {
      color: inherit;
      transition: all .5s; }
    .contact__link:hover, .contact__link:active {
      transform: scale(1.4); }
      .contact__link:hover.twitter, .contact__link:active.twitter {
        color: #1da1f2; }
      .contact__link:hover.linkedin, .contact__link:active.linkedin {
        color: #0077b5; }
      .contact__link:hover.codepen, .contact__link:active.codepen {
        color: #0ebeff; }
      .contact__link:hover.github, .contact__link:active.github {
        color: #4078c0; }
  .contact__icon {
    width: 4rem;
    height: 4rem;
    fill: currentcolor; }

.link:link, .link:visited {
  color: #f66;
  text-decoration: none; }

.link:hover, .link:active {
  color: var(--color-title); }

.btn {
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.1);
  transition: all .5s; }
  .btn__icon {
    fill: currentColor; }
  .btn__label {
    display: block; }
  .btn--bg {
    font-size: 2.5rem;
    border-radius: 5px;
    padding: 1.5rem 18vw; }
    @media only screen and (min-width: 37.5em), only print {
      .btn--bg {
        padding: 1.5rem 16rem; } }
  .btn--sm {
    border-radius: 3px;
    padding: .7rem 2rem; }
    .btn--sm .btn__icon {
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle; }
  .btn--menu {
    display: block;
    width: 17.5rem;
    padding: 1rem;
    border-radius: 10px;
    border-color: transparent; }
    .btn--menu .btn__icon {
      width: 10rem;
      height: 10rem; }
    .btn--menu .btn__label {
      font-size: 3rem; }
  .btn:link, .btn:visited {
    color: var(--color-title); }
  .btn:hover {
    border-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    color: var(--color-secondary);
    background-color: var(--color-title); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }

.swiper-container {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.swiper-slide {
  list-style: none;
  width: 18rem;
  height: 18rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 37.5em), only print {
    .swiper-slide {
      width: 27rem;
      height: 27rem; } }
  .swiper-slide-active {
    background-color: rgba(255, 255, 255, 0.2); }
    .swiper-slide-active .my-slide-1 {
      color: #000; }
    .swiper-slide-active .my-slide-2 {
      color: #e34f26; }
    .swiper-slide-active .my-slide-3 {
      color: #1680C0; }
    .swiper-slide-active .my-slide-4 {
      color: #f7df1e; }
    .swiper-slide-active .my-slide-5 {
      color: #ffb13b; }
      .swiper-slide-active .my-slide-5 .skill__icon {
        --color-svg-stroke: #000;
        --color-svg-fill: #ffb13b; }
    .swiper-slide-active .my-slide-6 {
      color: #c69; }
    .swiper-slide-active .my-slide-7 {
      color: #00d8ff; }
    .swiper-slide-active .my-slide-8 {
      color: #764ABC; }
    .swiper-slide-active .my-slide-9 {
      color: #215732; }
    .swiper-slide-active .my-slide-10 {
      color: #cb3837; }
    .swiper-slide-active .my-slide-11 {
      color: #f14e32; }
    .swiper-slide-active .my-slide-12 {
      color: #7f7f7f; }
    .swiper-slide-active .my-slide-13 {
      color: rgba(255, 0, 0, 0.6); }

.swiper-pagination-bullet {
  background-color: var(--color-primary); }

.skill__panel {
  color: rgba(0, 0, 0, 0.2); }

.skill__icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: 10px;
  fill: currentColor;
  --color-svg-stroke: rgba(0, 0, 0, .2);
  --color-svg-fill: #fff; }
  @media only screen and (min-width: 37.5em), only print {
    .skill__icon {
      width: 10rem;
      height: 10rem; } }

.skill__title {
  display: block;
  font-size: 3rem; }

.skill__desc {
  display: none; }

.skill__screen-desc {
  margin: 4rem auto 0 auto;
  max-width: 60rem;
  min-height: 26rem; }

.cert {
  margin: 10rem 0;
  list-style: none;
  display: grid;
  grid-gap: 6rem; }
  @media only screen and (min-width: 37.5em), only print {
    .cert {
      grid-template-columns: repeat(2, 1fr); } }
  .cert__elt {
    justify-self: center; }
    @media only screen and (min-width: 37.5em), only print {
      .cert__elt:nth-of-type(2n+1) {
        justify-self: end; }
      .cert__elt:nth-of-type(2n) {
        justify-self: start; } }
    .cert__elt:nth-of-type(1) a {
      background-image: url(../images/background/responsive-web-design.jpg); }
    .cert__elt:nth-of-type(2) a {
      background-image: url(../images/background/javascript-algorithms-and-data-structures.jpg); }
    .cert__elt:nth-of-type(3) a {
      background-image: url(../images/background/front-end-libraries.jpg); }
    .cert__elt:nth-of-type(4) a {
      background-image: url(../images/background/eCertificate.jpg); }
  .cert__link {
    width: 30rem;
    height: 18rem;
    display: block;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    transition: transform .5s; }
    .cert__link:hover, .cert__link:active {
      transform: scale(1.3); }
      @media only screen and (min-width: 37.5em), only print {
        .cert__link:hover, .cert__link:active {
          transform: scale(1.6); } }

.quick-link {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: .5rem; }
  .quick-link__link {
    margin: 0 1rem; }
    .quick-link__link:not(:last-of-type) {
      position: relative; }
      .quick-link__link:not(:last-of-type)::after {
        content: '-';
        position: absolute;
        right: -1.7rem; }
    .quick-link__link:link, .quick-link__link:visited {
      color: var(--color-secondary);
      text-decoration: none; }
    .quick-link__link:hover, .quick-link__link:active {
      color: var(--color-hover); }
      .quick-link__link:hover::after, .quick-link__link:active::after {
        color: var(--color-secondary); }

.section {
  text-align: center;
  padding: 14rem 4rem 8rem 4rem; }
  .section:nth-of-type(2n+1) {
    background-color: var(--color-tertiary); }
  .section:first-child {
    border-bottom: 0.5px solid var(--color-title); }
  .section__content {
    max-width: 140rem;
    margin: 0 auto; }
  .section__btn {
    margin-top: 8rem; }
  .section .title--2 {
    margin-bottom: 10rem; }
  .section .title--3 {
    margin-bottom: 3rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all .4s; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 4rem;
    height: 2px;
    background-color: var(--color-title);
    display: inline-block;
    transition: all .4s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.9rem; }
  .navigation__icon::after {
    top: .9rem; }

.navigation__button:hover {
  transform: translateY(-3px);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--color-title); }

.navigation__button:active {
  transform: translateY(-1px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--color-title); }

.navigation__button:hover .navigation__icon {
  background-color: var(--color-secondary); }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
  background-color: var(--color-secondary); }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
  background-color: var(--color-secondary); }

.navigation__checkbox:checked ~ .header .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .header .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .header .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .header .navigation__button:hover .navigation__icon::before {
  top: 0;
  transform: rotate(135deg) scale(1.3); }

.navigation__checkbox:checked ~ .header .navigation__button:hover .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg) scale(1.3); }

.navigation__menu {
  width: 100%;
  position: fixed;
  top: -150rem;
  left: 0;
  padding: 15rem 4rem 1rem 4rem;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 100vh;
  overflow-y: auto;
  transition: transform .8s;
  z-index: 9; }
  .navigation__menu__content {
    list-style: none;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .navigation__menu__elt {
    text-align: center;
    margin: 2rem; }

.navigation__checkbox:checked ~ .navigation__menu {
  transform: translateY(150rem); }

.project {
  list-style: none;
  display: grid;
  grid-gap: 6rem; }
  @media only screen and (min-width: 37.5em), only print {
    .project {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-auto-rows: 35rem; } }
  .project__tile {
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .project__viewer {
    list-style: none;
    margin-top: 2rem; }
    .project__viewer__elt {
      display: inline-block; }
      .project__viewer__elt:not(:last-of-type) {
        margin-right: 1.8rem; }

.header {
  position: fixed;
  top: -1px;
  left: auto;
  right: auto;
  padding: 2rem 1.5rem;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 12rem;
  z-index: 10; }
  @media only screen and (min-width: 37.5em), only print {
    .header {
      padding: 2rem 5rem; } }

.intro {
  height: 60rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .intro__content {
    padding-top: 10rem; }
  .intro .contact {
    color: #f66; }

.no-webp .intro {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/jpeg/intro.jpg); }
  @media only screen and (min-width: 37.5em), only print {
    .no-webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/jpeg/intro_600.jpg); } }
  @media only screen and (min-width: 56.25em), only print {
    .no-webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/jpeg/intro_900.jpg); } }
  @media only screen and (min-width: 75em), only print {
    .no-webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/jpeg/intro_1200.jpg); } }
  @media only screen and (min-width: 93.75em), only print {
    .no-webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/jpeg/intro_1400.jpg); } }

.webp .intro {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/webp/intro.webp); }
  @media only screen and (min-width: 37.5em), only print {
    .webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/webp/intro_600.webp); } }
  @media only screen and (min-width: 56.25em), only print {
    .webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/webp/intro_900.webp); } }
  @media only screen and (min-width: 75em), only print {
    .webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/webp/intro_1200.webp); } }
  @media only screen and (min-width: 93.75em), only print {
    .webp .intro {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/intro/webp/intro_1400.webp); } }

.footer {
  padding: 5rem 1.5rem;
  background-color: #555;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 1.7rem; }
  @media only screen and (min-width: 37.5em), only print {
    .footer {
      padding: 5rem; } }
  @media only screen and (min-width: 37.5em), only print {
    .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; } }
