.footer {
  padding: 5rem 1.5rem;
  @include responsive(tablet-port) {
    padding: 5rem;
  };
  background-color: #555;
  color: rgba(255, 255, 255, .4);
  text-align: center;
  font-size: 1.7rem;
  @include responsive(tablet-port) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  };
}
