.footer {
  padding: 5rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  font-size: 1.7rem;
  @include responsive(tablet-port) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  };
}
