.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  z-index: 10;
}
