.btn {
  text-decoration: none;
  display: inline-block;
  border: .5px solid transparent;
  border-color: rgba(0, 0, 0, .1);

  transition: all .5s;

  &--bg {
    font-size: 2.5rem;
    border-radius: 5px;
    padding: 1.5rem 12rem;
    margin: 3rem;
  }

  &--sm {
    // font-size: 2.rem;
    border-radius: 3px;
    padding: .7rem 2rem;
  }

  &:link,
  &:visited {
    color: #000;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
    color: #C5B358;
  }


  &:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  }
}
