.btn {
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, .1);
  transition: all .5s;

  &__icon {
    fill: currentColor;
  }

  &__label {
    display: block;
  }

  &--bg {
    font-size: 2.5rem;
    border-radius: 5px;
    padding: 1.5rem 18vw;
    @include responsive(tablet-port) {
      padding: 1.5rem 16rem;
    };
  }

  &--sm {
    border-radius: 3px;
    padding: .7rem 2rem;
    .btn__icon {
      width: 2.5rem;
      height: 2.5rem;
      vertical-align: middle;
    }
  }

  &--menu {
    display: block;
    width: 19rem;
    padding: 1rem;
    border-radius: 5px;
    border-color: transparent;
    .btn__icon {
      width: 8rem;
      height: 8rem;
    }
    .btn__label {
      font-size: 3rem;
    }
  }

  &:link,
  &:visited {
    color: var(--color-title);
  }

  &:hover {
    border-color: rgba(0, 0, 0, .1);
    transform: translateY(-3px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
    color: var(--color-secondary);
    background-color: var(--color-title);
  }


  &:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
  }
}
