.link {
  &:link,
  &:visited {
    color: #f66;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: var(--color-title);
    // color: var(--color-hover);
  }

  &--print {
    @include responsive(printer) {
      svg {
        display: none;
      }
      &::after {
        content: "(" attr(href) ")";
      }
      h3 {
        display: inline-block;
      }
    };
  }
}
