.swiper {
  &-container {
    padding-top: 7rem;
    padding-bottom: 7rem;

  }

  &-slide {
    list-style: none;
    width: 18rem;
    height: 18rem;
    @include responsive(tablet-port) {
      width: 27rem;
      height: 27rem;
    };
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    &-active {
      background-color: rgba(255, 255, 255, .2);

      .my-slide-1 {
        color: #000;
      }
      // html
      .my-slide-2 {
        color: #e34f26;
      }
      // css
      .my-slide-3 {
        color: #1680C0;
      }
      // javascript
      .my-slide-4 {
        color: #f7df1e;
      }
      // svg
      .my-slide-5 {
        color: #ffb13b;
        .skill__icon {
          --color-svg-stroke: #000;
          --color-svg-fill: #ffb13b;
        }
      }
      // sass
      .my-slide-6 {
        color: #c69;
      }
      // react
      .my-slide-7 {
        color: #00d8ff;
      }
      // redux
      .my-slide-8 {
        color: #764ABC;
      }
      // node
      .my-slide-9 {
        color: #215732;
      }
      // npm
      .my-slide-10 {
        color: #cb3837;
      }
      // git
      .my-slide-11 {
        color: #f14e32;
      }
      // more
      .my-slide-12 {
        color: #7f7f7f;
      }
      // sql
      .my-slide-13 {
        color: rgba(255, 0, 0, .6);
      }
    }
  }

  &-pagination {
    &-bullet {
      background-color: var(--color-primary);
    }
  }
}
