.swiper {
  &-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  &-slide {
    list-style: none;
    width: 190px;
    height: 190px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
