*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 43.75%; // 43.75% * 16px = 7px = 1rem

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }

}

body {
  box-sizing: border-box;
  
}
