*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 62.5% * 16px = 10px = 1rem

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
  
}

body {
  box-sizing: border-box;
}
