body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
}

.title {
  font-family: 'Merienda', cursive;
  color: var(--color-tilte);
  &--1 {
    font-size: 8vw;
    @include responsive(tablet-port) {
      font-size: 7.5rem;
    };
  }
  &--1-bis {
    font-size: 5vw;
    text-align: center;
    @include responsive(tablet-port) {
      font-size: 4rem;
    };
  }


  &--2 {
    position: relative;
    font-size: 6vw;
    @include responsive(tablet-port) {
      font-size: 6rem;
    };
    &::after {
      content: "";
      display: block;
      background-color: var(--color-tilte);
      height: 4px;
      width: 6rem;
      margin: 1rem auto 3rem auto;
    }
  }
  &--3 {
    font-size: 2.7rem;
  }

}

.sub-title {
  color: var(--color-tilte);
  font-size: 4.5vw;
  @include responsive(tablet-port) {
    font-size: 3.5rem;
  };
}

.text {
  line-height: 3.2rem;
}
