.side {
  display: none;
  @include responsive(tablet-land){
    display: block;
    grid-column:  2 / 3;
    grid-row: 1 / 7 ;
  };

  &--alt {
    @include responsive(tablet-land){
      display: none;
    };    
  }
}
