.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
  }


  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 4rem;
      height: 2px;
      background-color: var(--color-tilte);
      display: inline-block;
      transition: all .4s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -.9rem;
    }

    &::after {
      top: .9rem;
    }
  }

  &__button:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
    border-color: rgba(0, 0, 0, .1);
    background-color: var(--color-tilte);
  }


  &__button:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    border-color: rgba(0, 0, 0, .1);
    background-color: var(--color-tilte);
  }



  &__button:hover &__icon {
    background-color: var(--color-secondary);
  }

  &__button:hover &__icon::before {
    top: -1.2rem;
    background-color: var(--color-secondary);
  }

  &__button:hover &__icon::after {
    top: 1.2rem;
    background-color: var(--color-secondary);
  }



  &__checkbox:checked ~ .header &__button &__icon {
    background-color: transparent;
  }


  &__checkbox:checked ~ .header &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }


  &__checkbox:checked ~ .header &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked ~ .header &__button:hover &__icon::before {
    top: 0;
    transform: rotate(135deg) scale(1.3);
  }

  &__checkbox:checked ~ .header &__button:hover &__icon::after {
    top: 0;
    transform: rotate(-135deg) scale(1.3);
  }


  &__menu {
    width: 100%;
    position: fixed;
    top: -150rem;
    left: 0;
    padding: 15rem 4rem 4rem 4rem;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

    max-height: 100vh;
    overflow-y: auto;

    transition: transform .8s;
    z-index: 9;

    &__content {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__elt {
      text-align: center;
      margin: 2rem;
    }

  }

  &__checkbox:checked ~ &__menu {
    transform: translateY(150rem);
  }

}
