.project {
  list-style: none;
  display: grid;
  grid-gap: 6rem;

  @include responsive(tablet-port) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 35rem;
  };

  &__tile {
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    border-radius: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {

  }

  &__desc {

  }

  &__viewer {
    list-style: none;
    margin-top: 2rem;
    &__elt {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 1.8rem;
      }
    }
  }
}
