.page {
  max-width: 960px;

  margin: 16rem auto 3rem auto;
  background-color: var(--color-secondary);
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);

  &__content {
    padding: 10rem;
    display: grid;
    grid-template-columns: 1fr 190px;
    grid-gap: 30px;
  }

}
